.Weather {
  border: 1px solid #dadde1;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Nunito Sans", sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
  background-color: #f7f0e6bb;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.Weather .form-control {
  background-color: #f3f3f3;
}
.Weather .search-button {
  background-color: rgba(246, 186, 95, 0.674);
}
.Weather h1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 29px;
  margin: 20px 0 0 20px;
}
.Weather ul {
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
}
.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.Weather .currentWeather {
  display: flex;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 17px;
  display: block;
  max-width: 64px;
  max-height: 64px;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-top: 18px;
  display: flex;
}
.Weather .unitCelcius,
.Weather .unitFahrenheit,
.Weather .unitFeature {
  font-size: 16px;
  color: rgb(33, 33, 33);

  position: relative;
  top: -18px;
}

.Weather .unitCelcius a,
.Weather .unitFahrenheit a {
  text-decoration: none;
}
